@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:suporte@exemplo.com">suporte@controledecasos.com</a><br />
    <strong>Administrativo:</strong> <a href="mailto:admin@controledecasos.com">admin@controledecasos.com</a>
</address>