@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CONTROLE DE CASOS</h1>
    <p class="lead">Controle de Casos é um repositório de reações adversas.</p>
    <p><a href="" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registre um caso</h2>
        <p>
            Loren Ipsum.
        </p>
        <p><a class="btn btn-default" href="">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Controle seus casos</h2>
        <p>Loren Ipsum.</p>
        <p><a class="btn btn-default" href="">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Veja estatísticas</h2>
        <p>Loren Ipsum.</p>
        <p><a class="btn btn-default" href="">Saiba mais &raquo;</a></p>
    </div>
</div>